{%extends 'base.html'%}
{%block title%}Engineering Books{%endblock title%}
{%block body%}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<section class="section-products">
    <div class="container">
            <div class="row justify-content-center text-center">
                    <div class="col-md-8 col-lg-6">
                            <div class="header">
                                    <h2>Available Engineering Books In Library</h2>
                            </div>
                    </div>
            </div>
            <div class="row">
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-1" class="single-product">
                                <div class="border border-dark">
                                <div class="part-1">
                                    <img src="/static/ds.jpg" alt="..." width="310px" height="290px">
                                </div>
                            </div>
                                    <div class="part-2">
                                            <h3 class="product-title">Data Structures And Algorithms Made Easy</h3>
                                            <h4 class="product-price">10 rs./day</h4>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm btn-primary"><a href="/eng">Buy On Rent</a></button>
                                              </div>
                                    </div>
                            </div>
                    </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-1" class="single-product">
                            <div class="border border-dark">
                            <div class="part-1">
                                <img src="/static/c++.jpg" alt="..." width="310px" height="290px">
                            </div>
                        </div>
                                <div class="part-2">
                                        <h3 class="product-title">The Complete Reference C++</h3>
                                        <h4 class="product-price">12 rs./day</h4>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-primary"><a href="/eng">Buy On Rent</a></button>
                                          </div>
                                </div>
                        </div>
                </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-1" class="single-product">
                            <div class="border border-dark">
                            <div class="part-1">
                                <img src="/static/expert.jpg" alt="..." width="310px" height="290px">
                            </div>
                        </div>
                                <div class="part-2">
                                        <h3 class="product-title">The Expert C++</h3>
                                        <h4 class="product-price">11 rs./day</h4>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-primary"><a href="/eng">Buy On Rent</a></button>
                                          </div>
                                </div>
                        </div>
                </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-1" class="single-product">
                            <div class="border border-dark">
                            <div class="part-1">
                                <img src="/static/python1.jpg" alt="..." width="310px" height="290px">
                            </div>
                        </div>
                                <div class="part-2">
                                        <h3 class="product-title">Python By Ethem Mining</h3>
                                        <h4 class="product-price">8 rs./day</h4>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-primary"><a href="/eng">Buy On Rent</a></button>
                                          </div>
                                </div>
                        </div>
                </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-1" class="single-product">
                            <div class="border border-dark">
                            <div class="part-1">
                                <img src="/static/think py.jpg" alt="..." width="310px" height="290px">
                            </div>
                        </div>
                                <div class="part-2">
                                        <h3 class="product-title">Think Python</h3>
                                        <h4 class="product-price">10 rs./day</h4>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-primary"><a href="/eng">Buy On Rent</a></button>
                                          </div>
                                </div>
                        </div>
                </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-1" class="single-product">
                            <div class="border border-dark">
                            <div class="part-1">
                                <img src="/static/se1.jpg" alt="..." width="310px" height="290px">
                            </div>
                        </div>
                                <div class="part-2">
                                        <h3 class="product-title">Software Engineering</h3>
                                        <h4 class="product-price">12 rs./day</h4>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-primary"><a href="/eng">Buy On Rent</a></button>
                                          </div>
                                </div>
                        </div>
                </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-1" class="single-product">
                            <div class="border border-dark">
                            <div class="part-1">
                                <img src="/static/ise.jpg" alt="..." width="310px" height="290px">
                            </div>
                        </div>
                                <div class="part-2">
                                        <h3 class="product-title">Introduction To Software Engineering</h3>
                                        <h4 class="product-price">7.5 rs./day</h4>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-primary"><a href="/eng">Buy On Rent</a></button>
                                          </div>
                                </div>
                        </div>
                </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-1" class="single-product">
                            <div class="border border-dark">
                            <div class="part-1">
                                <img src="/static/cs.jpg" alt="..." width="310px" height="290px">
                            </div>
                        </div>
                                <div class="part-2">
                                        <h3 class="product-title">Cyber Security</h3>
                                        <h4 class="product-price">15 rs./day</h4>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-primary"><a href="/eng">Buy On Rent</a></button>
                                          </div>
                                </div>
                        </div>
                </div>
            </div>
    </div>
</section>
{%endblock body%}